@model IEnumerable<EngitelExam.Web.Models.ViewModels.FamigliaListItemVM>
    <!--qua ho usato stesso IEnumerable come in service GetAllFamiglie. cmnq anche w List<> qui sarebbe funzionato, ma ok cosi.--> 

<div class="d-flex flex-column align-items-center justify-content-center" style="min-height:100vh;">
    <h2 class="mb-1">Famiglie Confermate</h2>
    <p class="mb-4">Riepilogo di tutti i dati salvati sul database aziendale.</p>

    <div class="table-responsive mb-3">
        <table border="0" class="table table-striped table-bordered align-middle">
            <thead class="table-light">
                <tr>
                    <th>Nome Famiglia</th>
                    <th>Componenti</th>
                    <th>Componenti con Veicolo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var f in Model)
                {
                    <tr>
                        <td>@f.NomeFamiglia</td>
                        <td>@f.NumeroComponenti</td>
                        <td>@f.NumeroComponentiWCar</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.ActionLink(
        "Torna alla Homepage",
        "Index",
        "Home", 
        null,
        new {@class="btn btn-primary"} 
    );
</div>

